/*Style sheet for fluid images created by Saif Mazhar*/

/*Style for body specifies a background color*/
body    {
    background-color:black;
}

/*Style for header centers the page and sets the element width*/
#container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Style for header specifies top margin, background color, rounded corners, and center-align content*/
header  {
    text-align: center;
 }

/*Style for nav specifies text properties*/
nav {
    font-family:Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5em;
}

.videos {
    display: inline;
}

/*Style for nav li specifies the background color, rounded corners, rmeoves bullet style, and applies margins and padding for list items within the naviagation*/    
nav li  {
    background-color: #9D9D93;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

.mobile p {
    text-align: center;
}

.car-logos {
    text-align: center;
}
.car-logos img {
    height: 200px;
    width: 250px;
    
}

.equip   {
	float:left;
    padding-right: 20px;
}

/*Style for the nav specifies text properties*/
nav ul {
    padding:0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*Style changes naviagation link text color to white and removes the underline*/
nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

/*Style to create a fluid image*/
img {
    max-width: 100%;
}
/*Styles displays the mobile class*/
.mobile {
    display: inline;
}


/*Style for main element specifies a block display, text properties, margins, padding, rounded corners, and border properties*/
main    {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 2em 0 2em 0;
    background-color: #FFFFFF;
    opacity: 0.85;
}

/*Style hides the desktop class*/
.desktop {
    display: none;
}

/*Style for anchor elements within the main element*/
main a {
    background-color: #9D9d93;
    border-radius: 1em;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
}

footer  {
    font-size: .70cm;
    text-align: center;
    margin-top: 2em;
    color: #FFFFFF;
}

.tag    {
    font-size: .50cm;
}

/*Style for anchor elements within the footer*/
footer a {
    color: #FFFFFF;
    text-decoration: none;
}

/*Style hides the tablet class*/
.tablet {
    display: none;
}

/*Style rule speciies not to display the equip class*/
.equip {
    display: none;
}
/*Styles for mobile layout*/
/*style for aside element*/
aside {
    font-style: italic;
}

table, td   {
        border: solid 0.1em #FF6600;
        border-collapse: collapse;
        padding: 1em;
        color: white;
        text-align: center;
        
    }

th  { color: cadetblue;
    font-weight: bold;
    font-size: 1.1em;
}
    
    caption {
        font-size: 1.5em;
        padding-bottom: 1em;
        text-align: center;
    }
    
    label   {
        float: left;
        padding-right: 0.5em;
        text-align: right;
        width: 8em;
    }    
.btn    {
        margin-left: 12em;
    }


h1  {
    text-align: center;
}


/*Media query for tablet viewport targets screen size with a minimum width of 660px */
@media only screen and (min-width: 680px)   {
    /*Style specifies horizontal display for navigation link*/
    nav li {
        display:inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0%;
        padding-right: 0;
        width: 18%;
        white-space: nowrap;
        border-radius: 0;
        background-color: transparent;
    }

/*Style specifies clear and top margin properties for the main element*/
    main {
        clear: left;
        margin-top: -0.3em;
        border-radius: 0;
        overflow: auto;
    }
    
/*Style specifes to hide the mobile calss*/
    .mobile {
        display: none;
    }
    
/*Style specfies to display the desktop class*/
    .desktop {
        display: inline;
    }
    
/*Style specifes a display, float, and padding for the equip class */
    .equip {
        display: inline;
        float: left;
        margin-right: 1.5em;
    }
    
/*Style specifies a display, list style position, and bottom margin for the items class*/
    .items {
        display: block;
        list-style-position: inside;
    }
    
    table, td   {
        color: black;
    }
    
/*Style specifies to display the tablet class*/
    .tablet {
        display: block;
        margin-top: -3em;
        margin-bottom: -1em;
    }
    
/*Style specifies a font weight and top margin for description list terms*/
    dt {
        font-weight: bold;
        margin-top: 0.7em;
    }
    
/*Style for the h1 element*/
    h1 {
        text-align: center;
    }
    
/*Style for images with in the figure element*/
    figure img {
        background-color: #1D1D1C;
        display: inline;
        height: 8em;
        width: 26%;
        margin: 1%;
        padding: 1%;
        
    }
    
/*Style for anchor elements within the figure element*/
    figure a {
        background-color: transparent;
        padding: 0;
        text-decoration: none;
        
    }
    
/*Style specifies bottom padding for the section element*/
    section {
        padding-bottom: 3em;
    }
    
/*Style for h1 element with in the section element*/
    section h1 {
        text-align: left
    }
    
/*Style for anchor element within the section element*/
    section a {
        background-color: transparent;
        color: #1D1D1C;
        font-weight: normal;
        padding: 0;
        text-decoration: underline;
    }    

/*style for contact class*/
    .contact {
        background-color: transparent;
        color: #1D1D1C;
        padding: 0;
        text-decoration: underline;
    }


    

/*Style rule for form element*/
    form    {
        background-color: gainsboro;
        padding: 1em;
    }
    
/*Style rule for paragraph with form element*/
    form p  {
        color: gainsboro;
    }
    
/*Style rule for input, select, and textarea form elements*/
input, select, textarea {
    display: block;
    margin-bottom: 1em;    

    
       
    
}   /*media query for tablet viewport closing brace*/ 
    
/*Media query for desktop viewport targets screens with a minimum width of 830px.*/    
@media only screen and (min-width:830px)  {
    
    
    /*Style specfies wifth for container*/
    #container {
        background-color: #1D1D1C;
    }
    
    
    table, td   {
        color: white;
    }
    
/*Style to left align header*/
    header {
        text-align: left;
    }
    
/*Style for nav specifies a float, margin, and width*/
    nav {
        float: right;
        margin-top: -7em;
        margin-right: 3em;
        margin-bottom: 0;
        width: 65%;
    }
    
    /*Style specifies margin and padding for the unordered list within the nav*/
    nav ul {
        margin: 0;
        padding-left: 0.50%;
        padding-right: 0.50%;
    }
    
/*Style for navigation list items specifies a border radius, border, margin, width, and padding*/
    nav li {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 20%;
}

    
    
/*Style for navigation link specifies display and padding*/
    nav li a {
        display: inline-block;
        padding: 0.7em;
        text-shadow: 0.2em 0.1em #3D3D35;
    }

    
    nav li a:visited {
        color: #CCCCFF;
    }

    nav li a:hover {
        color: #9D9D93;
        font-style: italic;
    }
    
/*Style specifies a border, box shadow, and margins for the main element*/
    main {
        background-color: #1D1D1C;
    }
    
/*Style specifies left and right padding for the paragraph elements within the main element*/
    main p {
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
	
/*Style applies to color to h1 element*/
   h1 {
	color: #FFFFFF;
	}

/*Style applies height and opacity to the images with in figure element*/
	figure img {
		height: 15em;
		opacity: 0.7;
        
	}

/*Style removes transperacy on hover*/
	figure img:hover {
		opacity: 1;
        
		}
	
/*Style specifies a gradient for the body elements*/
    body {
        background-color: #FFFFFF;
    }

/* style specifies a background color, margin, and padding for footer element*/
	footer {
		background-color: #2A2A2A;
		margin-top: -02em;
		padding: 2em;
	}
    
/*Style specifies color and left margin for the section element*/
    section {
        color: #FFFFFF;
        margin-left: 1em;
        padding-bottom: 5em;
    }
    
/*Style for anchor element within the section element*/
    section a {
        color: #FFFFFF;
    }
    
/*Style for paragraph within the section element*/
    section p   {
        margin-left: 0;
    }
    
/*style for main h2 element*/
    main h2 {
        color: #FFFFFF;
        padding-left: 2.7em;
        text-align: center;
    }   
    
/*style for contact class*/
    .contact {
        color: #FFFFFF;
    }
   
  
    
    /*Style rule for form element*/
    form    {
        background-color: gainsboro;
        padding: 1em;
    }
    
/*Style rule for paragraph with form element*/
    form p  {
        color: gainsboro;
    }
    
/*Style rule for input, select, and textarea form elements*/
input, select, textarea {
    display: block;
    margin-bottom: 1em;
}  /*viewport closing bracket*/
    }    }