<!DOCTYPE html>
<!--This website tempalate was created by Saif Mazhar 09/13/2018-->
<html lang="en">
<head>
    <title>Forward Fitness Club</title>
    <meta charset="utf-8"> 
</head>
<body>   

<!--Use the header area for the website name or logo-->
	<header>
		Forward Fitness Club
	</header>
    
	<!--Use the nav area to add hyperlinks to other pages within the website-->
    <nav>
		<ul>
		<li><a href = "index.html">Home</a></li>
		<li><a href = "about.html">About Us</a></li>
		<li><a href = "classes.html">Classes</a></li>
		<li><a href = "nutrition.html">Nutrition</a></li>
		<li><a href = "contacts.html">Contact Us</a></li>
        </ul>
    </nav>
    
	<!--Use the main area to add the main content of the webpage-->
    <main>
	
        
    <!-- Nutrition page banner -->
        <div id="banner" class="desktop">
            <img src="/fitness/images/nutritionBanner.jpg" alt="nutrition banner image">
        </div>    
	
        
	</main>
    
	<!--Use the footer area to add webpage footer content-->
    <footer>
		&copy; Copyright 2015. All Rights Reserved.<br>
		forwardfitness@club.net
    </footer>
	
</body>    
</html>